<picture *ngIf="showImage;  else noImage">

    <source *ngFor="let source of sources" [attr.media]="source.media" [attr.srcset]="source.src">
    <img [ngClass]="class" [src]="imgDefault.src" [attr.alt]="imgDefault.title" (error)="error($event)" loading="lazy">

</picture>

<ng-template #noImage>
    <div class="h-100" style="position: relative;">

        <div class="position-absolute top-50 start-50 translate-middle" *ngIf="!showImage">
            <span class="fa-stack fa-3x">
                <i class="fa-solid fa-image fa-stack-1x" style="color:#198754"></i>
                <i class="fa-regular fa-circle fa-stack-2x"></i>
            </span>
        </div>
    </div>
</ng-template>